.headerContainer {
  height: 5rem;
  border-bottom: 1px solid #29292e;
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  height: 5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  h1 {
    font-weight: 900;
    color: var(--red);

    span {
      color: var(--white);
    }
  }

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-normal);

      & + a {
        margin-left: 2rem;
      }

      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: var(--yellow);
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
      }
    }
  }

  button {
    margin-left: auto;
  }
}